*{
	margin: 4px;
	padding: 8px;
}

html{
	background-color: #ebecf6;
}

.grid{
	display: grid;
	grid-template-columns: repeat(3, 33.33%);
	grid-template-rows: 10% 20% 70%
	column-gap: 10px;
	row-gap: 20px;
}

.Header, h2, p, a{
	font-family: 'Poppins', sans-serif;
	color: #000039;
}

.Header{
	grid-column-start: 1;
	grid-column-end: span 3;
	font-size: 9vw;
	font-weight: 500;
}

h1{
	font-family: 'Poppins', sans-serif;
	font-size: 42px;
}

h2, a{
	font-size: 18px;
}

a:hover{
	color: royalblue;
}

.Title-1{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
	color: deeppink;
}

.Sources-Links{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
}

.Title-2{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	color: #a3a5ae;
}

.Tutorials-Links{	
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
}

.Title-3{
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	color: seagreen;
}

.Libraries-Links{	
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
}

